<h1>Dynipo</h1>

<%= form_tag '/server' do |f| -%>
	<%= label_tag :name %>
	<%= text_field_tag :name %>
	<br>
	<%= label_tag :password %>
	<%= text_field_tag :password %>
	<br>
	<%= submit_tag 'View' %>
<% end -%>
