<% @page_title = 'Dynamic IP Otter' -%>

<div class="span6 offset3">
	<div class="well">

		<%= form_tag '/server', method: 'get', class: 'form-horizontal' do |f| -%>
			<div class="control-group">
				<%= label_tag :name, 'Server Name', class: 'control-label' %>
				<div class="controls"><%= text_field_tag :name %></div>
			</div>
			<div class="control-group">
				<%= label_tag :password, 'Password', class: 'control-label' %>
				<div class="controls"><%= text_field_tag :password %></div>
			</div>
			<div class="control-group">
				<div class="controls"><%= submit_tag 'View', name: nil, class: 'btn btn-primary' %></div>
			</div>
		<% end -%>

	</div>
</div>
