<% @page_title = 'New server' -%>

<div class="span6 offset3">
	<div class="well">

		<%= form_for @server, :html => {class: 'form-horizontal'} do |f| %>
			<% if @server.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

					<ul>
					<% @server.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
					</ul>
				</div>
			<% end %>

			<div class="control-group">
				<%= f.label :name, class: 'control-label' %>
				<div class="controls"><%= f.text_field :name, class: 'span12' %></div>
			</div>
			<div class="control-group">
				<%= f.label :description, class: 'control-label' %>
				<div class="controls"><%= f.text_field :description, class: 'span12' %></div>
			</div>
			<div class="control-group">
				<%= f.label :password, class: 'control-label' %>
				<div class="controls"><%= f.text_field :password, class: 'span12' %></div>
			</div>
			<div class="control-group">
				<%= f.label :admin_password, class: 'control-label' %>
				<div class="controls"><%= f.text_field :admin_password, class: 'span12' %></div>
			</div>
			<div class="control-group">
				<div class="controls">
					<%= f.submit 'Create', class: 'btn btn-primary' %>
					<%= link_to 'Back', servers_path %>
				</div>
			</div>
		<% end %>

	</div>
</div>
