<% @page_title = @server.nil? ? 'Find Server' : "Server - #{@server.name}" -%>

<div class="span6 offset3">
	<div class="well">

		<h2><%= @server.name %></h2>
		<% unless @server.description.nil? or @server.description.blank? -%>
			<blockquote><%= @server.description %></blockquote>
		<% end -%>

		<p>
			<%= link_to 'Edit', edit_server_path(@server) %> |
       <%= link_to 'Destroy', @server, method: :delete %>
		</p>

		<strong>IP Addresses:</strong>
		<% for u in @server.updates.sort_by{|u| u.created_at}.reverse -%>
			<li><strong><%= u.ip_address %></strong> at <%= u.created_at %></li>
		<% end -%>

	</div>
</div>
