<% @page_title = @server.nil? ? 'Find Server' : "Server - #{@server.name}" -%>

<div class="span6 offset3">
	<div class="well">

		<% if @server and !@authorized -%>
			<%# Unauthorized -%>

			<%= form_tag "/server/#{@server.name}" do |f| -%>
				<%= label_tag :password %>
				<%= text_field_tag :password %>
				<br>
				<%= submit_tag 'View' %>
			<% end -%>

		<% else -%>
			<%# Authorized -%>

			<p>
				<strong>Name:</strong>
				<%= link_to @server.name, "/server/#{@server.name}?password=#{@server.password}" %>
			</p>

			<% unless @server.description.nil? or @server.description.blank? -%>
				<p>
					<strong>Description:</strong>
					<%= @server.description %>
				</p>
			<% end -%>

			<p>
				<strong>IP Addresses:</strong>
				<% for u in @server.updates.sort_by{|u| u.created_at}.reverse -%>
					<li><strong><%= u.ip_address %></strong> at <%= u.created_at %></li>
				<% end -%>
			</p>

			<%= link_to 'Edit', edit_server_path(@server) %>

		<% end -%>

	</div>
</div>
