<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @server.description %>
</p>

<p>
  <strong>Password:</strong>
  <%= @server.password %>
</p>

<p>
  <strong>Admin password:</strong>
  <%= @server.admin_password %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
